@tailwind base;
@tailwind components;
@tailwind utilities;

@keyframes float-hero {
	0%,
	100% {
		transform: translateY(0px);
	}
	50% {
		transform: translateY(-12px);
	}
}

.animate-float-hero {
	animation: float-hero 6s ease-in-out infinite;
}
